{% extends "base.html" %}

{% block content %}
<h2>Firmware Types</h2>
<p>Below is a list of all distinct firmware types:</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Firmware Type</th>
        </tr>
    </thead>
    <tbody>
    {% for idx, firmware_type in indexed_firmware_types %}
        <tr>
            <td>{{ idx }}</td>
            <td>
                <a href="/firmware-types/{{ firmware_type }}" class="text-decoration-none">
                    {{ firmware_type }}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="/" class="btn btn-primary mt-3">Back to Home</a>
{% endblock %}
