{% extends "base.html" %}

{% block content %}
<h2>Summaries</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Firmware Type</th>
            <th>Version</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
    {% for row in summary_rows %}
        <tr>
            <td>
                <a href="/firmware-types/{{ row.firmware_type }}" class="text-decoration-none">
                    {{ row.firmware_type }}
                </a>
            </td>
            <td>{{ row.version }}</td>
            <td>{{ row.count }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
